.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba($color: #000000, $alpha: 0);
  pointer-events: none;
  transition-duration: 0.3s;

  &.active {
    pointer-events: auto;
    background-color: rgba($color: #000000, $alpha: 0.7);

    .content {
      transform: translateY(0%);
    }
  }

  .content {
    transition-duration: 0.3s;
    transform: translateY(100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    color: #06080c;
    .btn-close {
      position: absolute;
      right: 20px;
      top: -35px;
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      font-family: 'BrandonText-Medium';
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .scroll {
      overflow: auto;
      max-height: 15vh;
    }
    p {
      font-size: 15px;
      margin-bottom: 20px;
      color: #535761;
    }
    .btn-next {
      margin: auto;
      margin-top: 50px;
    }
    .comment {
      margin-bottom: 4px;

      &.header {
        display: flex;
        
        .author {
          margin-right: 10px;
          font-size: 1.3rem;
          font-weight: bold;
          line-height: 1.8rem;
        }
        .at {
          color: #606060;
          line-height: 1.8rem;
        }
      }
      .text {
        line-height: 1rem;
        padding-left: 5px;
      }
    }
    .input-comment {
      width: 100%;
      border: none;
      border-bottom: .5px solid #606060;
      transition-duration: 0.3s;
      &:focus {
        border-bottom: 1px solid #606060;
      }
    }
    .button-comment {
      position: absolute;
      right: 3.75%;
      background: none;
      cursor: pointer;
      transition-duration: 0.3s;
      &:hover {
        color: #606060;
      }
    }
  }
}
