.section {
  &-home {
    .header {
      width: 100%;
      position: relative;
      padding: 16px 20px;
      padding-bottom: 120px;
      // display: grid;
      // grid-template-columns: 160px 60px;
      // grid-column-gap: 91px;
      background-image: linear-gradient(315deg, #303C6F 0%, #222E61 100%);

      .title {
        font-size: 24px;
        font-family: 'BrandonText-Bold';
        letter-spacing: 0.48px;
        color: white;
      }
      .profile {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-column-gap: 16px;
        .photo {
          width: 48px;
          height: 48px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 100%;
        }
        .btn-menu {
          background-color: transparent;
          img {
            width: 16px;
            pointer-events: none;
          }
        }
      }
    }
    .body {
      position: relative;
      color: white;
      background-color: #1D1D1D;
      border-radius: 8px;
      margin: auto;
      top: -100px;
      min-width: 250px;
      max-width: 665px;
      margin: 0 auto;
      padding: 16px;
      &:not(:first-child) {
        margin-top: 30px;
      }
      .video {
        border-radius: 25%;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title {
        font-family: 'BrandonText-Medium';
        font-size: 20px;
        letter-spacing: 0.38px;
        margin-bottom: 8px;
      }
      .desc {
        font-family: 'BrandonText-Medium';
        width: 100%;
        display: flex;
        font-size: 13px;
        margin-bottom: 16px;
      }
      .info {
        width: 100%;
        display: flex;
        button {
          font-family: 'BrandonText-Medium';
          border: none;
          outline: none;
          background: none;
          color: white;
          font-size: 1rem;
          font-weight: 400;
          flex-direction: row;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    @media only screen and (max-width: 335px) {
      .body{
        max-width: 335px;
        margin: 0 20px;
      }
    }

  }
}
